*{
    color:red;
}
.parableu
{
color:blue;
}
#parared
{color:red;}
.vt{
    color:green;
}
.bord{
    border:1px solid green;
}
a {
    color: red;text-decoration:none;
}
a:hover{
    color:green;text-decoration:underline;
}
a:visited{
    color:grey;

}
a{
    font-style:italic;
}
p{
    color:green;
    color:rgb(0,255,0);
    color:#00ff00;
}
p{
    background-color: rgba(255,0,0,0.5);
}
p{
    background-image:url() 
}
body{
    background-image: url(../logo2.png);
    background-size:  cover;
    background-attachment: fixed;
}

li{
    list-style-image:url(../dd.png);
    display: inline;
}
